html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	position: absolute;
}

@font-face{
	font-family: futura;
    src: url('../fonts/futura_condensed_extrabold.woff');
}

@font-face{
	font-family: benton;
    src: url('../fonts/benton.woff');
}

@font-face{
	font-family: benton_medium;
    src: url('../fonts/benton_medium.woff');
}

#loading {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	z-index: 99;
}

#header {
	width: 100%;
	height: 250px;
	position: relative;
	background-color: white ;
}

#header_text {
	/*width: 350px;*/
	/*height: 100px;*/
	
	position: relative;
	margin: 0 auto;
	top: 90px;
	text-align: center;
}
h1 {
	font-family: futura;
	font-size: 50px;
}

h2 {
	font-family: benton, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 200;
	color: #888888;
}

p {
	font-family:  benton, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 22px;
	font-weight: 100;
	text-align: center;
	/*color: #808080   ;*/
	/*color: black;*/
	color: #888888;
}

/*a {
	cursor: pointer;
}*/

#projects {
	width: 960px;
	position: relative;
	margin: 0 auto;
}


.project {
	width: 960px;
	height: 320px;
	position: relative;
	margin: 0 auto;
	margin-top: 5px;
	cursor: pointer;
}

#skate {
	background: url('../img/skate_8.png');
	background-size: cover;
}

#music {
	/*background: url('../img/music_cover_26.png');
	background-size: cover;	*/
	background-color: white;
}




/* HP ----------------------------------------------- */
#hp {
	background: url('../img/hp_fire.png') black;
	background-size: cover;
	/*background-color: white;*/
}



#hp_logo {
	position: absolute;
	width: 960px;
	height: 320px;
	background: url('../img/hp_logo.png');
	background-size: cover;
	/*background-color: red;*/
}
canvas {
	position: absolute;



}

#canvas_back {
	/*background-color: black;*/

}

.about {
	width: 960px;
	
	position: relative;
	margin: 0 auto;
	margin-top: 100px;
}

.about_text {
	width: 619px;
	/*height: 250px;*/
	position: relative;
	margin: 0 auto;
	
	
}

.about_links {
	width: 323px;
	position: relative;
	margin: 0 auto;
	margin-top: 22px;

	
}

ul li{
	display: inline;
	cursor: pointer;
	font-family: benton_medium, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
	text-align: center;
	color: black;

	margin-left: 40px;

	padding-bottom: 100px;
}

ul li:hover{
	color: #08bab0;;
}
